body{
  background-color: black;
}
#up {
  text-align: center;
  border: 5px solid #ac75f5;
  width: 520px;
  margin-top: 30px;
  margin-left: 43rem;
  border-radius: 20px;
  animation: upb-flicker 6s linear infinite;
}

#uph1 {
  color: #ad3a3a;
  font-family: 'Raleway';
  font-size: 64px;
  letter-spacing: 10px;
  animation: uph1-flicker 7s linear infinite;
}

.ups {
  display: inline;
  font-size: 40px;
  animation: ups-flicker 4s linear infinite;
}

@keyframes upb-flicker {
  0% {
      opacity: 0;
      box-shadow: 0px 0px 78px 4px #ac75f5;
  }

  2% {
      opacity: 0.4;
      box-shadow: 0px 0px 78px 4px #832a6d;
  }

  10% {
      opacity: .8;
      box-shadow: 0px 0px 78px 4px #ac75f5;
  }

  25% {
      opacity: 0.4;
      box-shadow: 0px 0px 78px 4px #832a6d;
  }

  50% {
      opacity: .6;
      box-shadow: 0px 0px 78px 4px #ac75f5;
  }

  65% {
      opacity: 0.6;
      box-shadow: 0px 0px 78px 4px #832a6d;
  }

  85% {
      opacity: .5;
      box-shadow: 0px 0px 78px 4px #ac75f5;
  }

  100% {
      opacity: .8;
      box-shadow: 0px 0px 78px 4px #832a6d;
  }
}

@keyframes uph1-flicker {
  0% {
      opacity: 0.5;
      text-shadow: 0px 0px 20px #b8da59;
  }

  5% {
      opacity: 0.5;
      text-shadow: 0px 0px 40px #e87810;
  }

  15% {
      opacity: .5;
      text-shadow: 0px 0px 20px #b8da59;
  }

  30% {
      opacity: .6;
      text-shadow: 0px 0px 40px #e87810;
  }

  55% {
      opacity: 0.7;
      text-shadow: 0px 0px 20px #b8da59;
  }

  75% {
      opacity: 0.5;
      text-shadow: 0px 0px 40px #e87810
  }

  100% {
      opacity: .6;
      text-shadow: 0px 0px 20px #b8da59;
  }
}

@keyframes ups-flicker {
  0% {
      opacity: 0.5;
      text-shadow: 0px 0px 29px #b1d362;
  }

  2% {
      opacity: 0.3;
      text-shadow: 0px 0px 29px #c2b223;
  }

  15% {
      opacity: .8;
      text-shadow: 0px 0px 29px #b1d362;
  }

  25% {
      opacity: 0.4;
      text-shadow: 0px 0px 29px #c2b223;
  }

  50% {
      opacity: .6;
      text-shadow: 0px 0px 29px #b1d362;
  }

  65% {
      opacity: .1;
      text-shadow: 0px 0px 29px #c2b223;
  }

  75% {
      opacity: 0.7;
      text-shadow: 0px 0px 29px #b1d362;
  }

  80% {
      opacity: .5;
      text-shadow: 0px 0px 29px #c2b223;
  }
}

.container {
    width: 500px;
    align-content: center;
    margin-left: 700px;
    margin-top: 30px;
}

.container1 {
  width: 90%;
  align-content: center;
  margin-top: 30px;
  font-size: 1rem;
  margin-left: 7rem;
  text-align: justify;
  text-justify: auto;
  word-spacing: .5em;
}
  
.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #D9514EFF;
  margin-left: 50px;
  margin-top: 10px;
  border: 10px solid #2A2B2DFF;
  border-radius: 10px;
  margin-bottom: 10px;
}

#cReset{
  text-align: center;
  border: 5px solid #ac75f5;
  width: 200px;
  margin-top: 10px;
  padding: 1rem;
  font-family: 'Raleway';
  border-radius: 20px;
  font-size: 20px;
  background-color: #0b0222;
  color: white;
  font-weight: 3rem;
  letter-spacing: 5px;
  animation: upb-flicker 6s linear infinite;
}  

div {
  font-size: 20px;
  text-align: center;
  font-family: 'Raleway';
  color: white;
}

.fColor{
  color: #ad2121;
  font-family: 'Raleway';
}

li{
  font-size: 20px;
  padding-bottom: 1rem;
  text-align: justify;
}

.valid {
  border-radius: 10px;
  height: 40px;
  width: 40px;
  border: 5px solid;
  border-color: #2A2B2DFF #2A2B2DFF #2A2B2DFF #2A2B2DFF;
  box-sizing: border-box;
}

.checked {
  border-radius: 10px;
  height: 40px;
  width: 40px;
  border: 2px solid;
  background-color: #cecab7;
  border-color: #9c998d;
  box-sizing: border-box;
}

.bomb {
  border-radius: 10px;
  height: 40px;
  width: 40px;
  border: 5px solid;
  border-color: #2A2B2DFF #2A2B2DFF #2A2B2DFF #2A2B2DFF;
  box-sizing: border-box;
}

.one {
  color: #e76346;
}

.two {
  color: #4199d3;
}

.three {
  color: #57da59;
}

.four{
  color: #bb41d3;
}

#result {
  margin-top: 5px;
  color: #e76346;
}