@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bad+Script&family=Krona+One&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  /*background: url() no-repeat center center fixed;
  background-size: cover;*/
  width:100vw;
  overflow-x: hidden;
}


::-webkit-scrollbar {
  height: 10px;              /* height of horizontal scrollbar ← You're missing this */
  width: 10px;               /* width of vertical scrollbar */
  
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background:  #0944AD;
  border-radius: 1rem;
}

#logo img{
  width:28rem;
  padding-top:5px;
}


/*digital clock*/
.display-clock {
    font-family: 'Orbitron', sans-serif;
    margin: auto;
    padding:0;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    color:#ff6045;

}

.display-date {
    font-family: 'Orbitron', sans-serif;
    margin:0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color:#0944AD;
}

.min {
    position: absolute;
}

.max {
    margin-left: 4rem;
}


/*weather*/
#forecast{
  font-family: 'Orbitron', sans-serif;
  padding:10px;
  color:#0944AD;
}

#icon{
  width:60px;
  margin:0 10px;
}

#temp, #weather, #location{
  color:#ff6045;
}

#temp{
  font-weight: bolder;
}

#weather{
  text-transform: capitalize;
}

#stats{
  margin-left:21px;
}

#forecast button{
  border:0;
  background-color: transparent;
  color:#0944AD;
}

#forecast button i{
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
#forecast button i:active{
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
}

/*heading*/

.head{
  display:none;
}

.head90{
  padding-top: 10vh;
}


/* Prayer Times */
.prayer-container {
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
    text-align: center;
    height:18vh;
}

.prayer-container{
    background-image: url(img/pray.jpg);
    fill:cover;
}

.prayer_time {
    font-size: 1.6em;
    font-weight: 800;
    text-align: left;
}

#prayer_clock, #prayer_city, #prayer_date{
    display:none;
}
.prayer-container{
    font-size: 1.2em;
    font-weight: 800;
}



/*quote*/

.qWrapper{
    border-radius: 10px;
    text-align: center;
    background-color: #ff6045;
    font-family: 'Anton', sans-serif;
    color:#0944AD;
    height:18vh;
    overflow-y: scroll;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#quote{
    font-size: 1.4rem;
    font-weight: 400;
    font-family: 'Bad Script', cursive;
    color:#fff;   
}

#author{
    text-align: end;
    padding-right: 30px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}





/*summary*/

.summary{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  text-align: justify;
  text-justify: inter-word;
  text-indent: 50px;
  margin-bottom: 10px;
  padding: 10px 20px;
  height: 25vh;
  overflow-y: scroll;
  border:2px solid #ff6045;
  border-radius: 10px;
  color:#0944AD;
}

.summary::-webkit-scrollbar-thumb {
  background: #ffa500;
}

/*project*/
.projects{
  border-radius: 10px;
  background-color: #0944AD;
  color:#ff6045;
  font-family: 'Anton', sans-serif;
  height:60vh;
  overflow-y: scroll;
  padding: 10px 15px;
  margin-bottom: 10px;

}

.projects::-webkit-scrollbar-thumb {
  background:  #ff6045;
}

.projects h3{
  text-align: center;
}

.projects li{
  margin-top: 20px;
}
.projects li span{
  letter-spacing: 1px;
}

.projects a{
  color:#ffa500;
  text-decoration: underline;
  text-underline-position: under;
}

.projects p{
  margin-top:5px;
  color:#fff;
  font-family: 'Roboto', sans-serif;
}



/*gt css*/
#gt{
  position:fixed;
  bottom:0;
  left:0;
  width:100vw;
  display:flex;
}

#gt button{
  width:12.5vw;
  border:0px;
  font-weight: bold;
  color:#fff;
  font-family: 'Orbitron', sans-serif;
}

#do1{
background-color:#ff0000;
}
#re{
background-color:#ffa500;
}
#mi{
background-color:#ffff00;
}
#fa{
background-color:#02c702;
}
#sol{
background-color:#008000;
}
#la{
background-color:#0078ff;
}
#ti{
background-color:#2200ff;
}
#do2{
background-color:#800080;
}




/*media breakpoint*/
@media screen and (max-width:1200px) {
  #logo{
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width:1000px) {
  #heading{
    display:flex;
    justify-content: center;
  }
  .head{
    display:flex;
  }

  .head90{
    display:none;
  }
}

@media screen and (max-width:800px) {

  #forecast{
    display:flex;
    justify-content: center;
  }

  #forecast h5{
    font-size: 13px;
  }

  .display-clock{
    font-size: 13px;
  }

  .display-date{
    font-size: 13px;
  }

}

@media screen and (max-width:800px) {