@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bad+Script&family=Krona+One&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');


body {
  /*background: url() no-repeat center center fixed;
  background-size: cover;*/
  background-color:#ccd0d7;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h2, h3{
  font-family: 'Anton', sans-serif;
  text-align: center;
  letter-spacing: 2px;
}

h3{
  font-size:50px;
  padding:30px 0px;
}

.blankSpace{
  height:120px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url(img/img1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  border-bottom:30px solid #ff6045;
}

.para2 {
  background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.9)), url(img/img4.jpg);
}

.para3 {
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(img/img2.jpg);
}

.para4 {
  background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.9)), url(img/img3.jpg);
}

.para5 {
  background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(img/img5.jpg);
}

.para6{
  background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(img/img7.png);
}



::-webkit-scrollbar {
  height: 10px;              
  width: 10px;               
  
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background:  #ff6045;
  border-radius: 1rem;
}



#head{
  background-color: #fff;
  margin-top: -10px;
  position:fixed;
  z-index:1;
}


/*digital clock*/
.display-clock {
  font-family: 'Orbitron', sans-serif;
  margin: auto;
  padding:0;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  color:#ff6045;
}

.display-date {
  font-family: 'Orbitron', sans-serif;
  margin:0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color:#0944AD;
}

.prayerTimeBtn{
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
}

.min {
    position: absolute;
}

.max {
    margin-left: 4rem;
}


/*weather*/
#forecast{
  font-family: 'Orbitron', sans-serif;
  padding:10px;
  color:#0944AD;
  display: flex;
  justify-content: flex-end;
}

#icon{
  width:60px;
  margin:0 10px;
}

#temp, #weather, #location{
  color:#ff6045;
}

#temp{
  font-weight: bolder;
}

#weather{
  text-transform: capitalize;
}

#stats{
  margin-left:21px;
}

#forecast button{
  border:0;
  background-color: transparent;
  color:#0944AD;
}

#forecast button i{
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
#forecast button i:active{
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
}


/*navigation*/
.fullnav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.97);
  z-index: 100;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}

.hamburger-menu {
  width: 45px;
  height: 35px;
  position: fixed;
  top: 150px;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 500;
}

.line {
  width: inherit;
  height: 5px;
  background-color: #ff6045;
  outline: 1px solid #fff;
  border-radius: 25px;
  transform-origin: right;
  transition: transform .5s;
}

.line-2 {
  height: 3px;
}

.change .line-1 {
  transform: translate(-4px, -4px) rotateZ(-45deg);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: translate(-4px, -3px) rotateZ(45deg);
}

.fullnav.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.fullnav.close {
  opacity: 0;
  visibility: visible;
  height: 0%;
}

.fullnav.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
  animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
  animation-delay: .35s;
}

.fullnav.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

.fullnav.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
  animation-delay: .45s;
}

.fullnav.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
  animation-delay: .50s;
}

.fullnav nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 3rem;
  font-weight: 400;
  line-height: 7rem;
  text-align: center;
}

.fullnav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.fullnav ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 1;
}

.fullnav ul li a {
  display: block;
  position: relative;
  color: #ff6045;
  text-decoration: none;
  overflow: hidden;
}

.fullnav ul li a:hover:after,
.fullnav ul li a:focus:after,
.fullnav ul li a:active:after {
  width: 100%;
}

.fullnav ul li a:hover::before,
.fullnav ul li a:focus::before,
.fullnav ul li a:active::before {
  width: 100%;
}

.fullnav ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
  transition: .35s;
}



/* Prayer Times */

.ptModal{
  background-image: url(img/pray.jpg);
  background-position:left bottom;
  background-size:cover;
}

.prayer-container {
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 20px;
    text-align: center;
}

.prayer-container{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

#prayer_clock, #prayer_city, #prayer_date{
    display:none;
}

table{
  margin-left: auto;
  margin-right: auto;
}
td{
  width:80px;
  color:#fff;
  background-color: rgba(204, 204, 204, 0.4);
}

td:nth-child(odd) {
  background-color: rgba(166, 166, 166, 0.4);
}

#prayersTimes h2{
  color: #ff6045;
}

#closeBtn{
  background-color: #ff6045;
}

/*summary*/

.summary{
  font-size: 24px;
  text-align: justify;
  text-justify: inter-word;
  height:100vh;
}

.summary h3{
  color:#ff6045;
}

/*project*/
.projects{
  color:#fff;
  padding: 50px 0px;
}

.projects h3, .projects h5{
  color:#fff;
}

.projects h5{
  padding-top: 3px;
  font-size:24px;
}

.projects h3 i{
  color:#ff6045; 
  text-shadow: 0 0 0px #000;
}

.projects i{
  color:#FFD700;
  text-shadow: 0 0 2px #000;
}
.projects span i{
  color:transparent;
  text-shadow: 0 0 2px #000;
}

.projects img{
  width:125px;
  height:auto;
  border-radius:10px;
  margin-top:10px;
}

.projects li{
  display:inline-block;
  padding:30px 30px 0px 0px;
}

.projects ul{
  padding:0px;
}

/*quote*/

.qWrapper{
  text-align: center;
  font-family: 'Anton', sans-serif;
  color:#fff;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.qWrapper h3{
  display: none;
}

#quote{
  font-size: 30px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color:#fff;   
}

#author{
  text-align: end;
  letter-spacing: 1px;
  padding-top: 10px;
  font-size:40px;
  font-family: 'Cedarville Cursive', cursive;
}

/*covid API*/

#covidSec button{
  background-color: #ff6045;
  color:#fff;
  font-weight: bold;
}

#covidSec h3 i{
  color:#ff6045;
}

#countrySelect{
  height:30px;
}

#covidSec table{
  margin-top:10px;
  font-size: 24px;
}

#covidSec th{
  color:#fff;
}


/*jokes*/
.api_jokes i{
  color:#ff6045;
}

#fun{
  font-size:30px;
  margin-bottom: 30px;
}

#funBtn{
  background-color: #ff6045;
}



/*youtube*/

.youtube{
  background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(img/img6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.youtube h3{
  color:#fff;
  margin-top: 50px;
}

.video{
  padding:10px 10px;
}

.video button{
  display:none;
}

.video iframe{
  width:500px;
  height: 281px;
}

.video li{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color:#fff;
  background-color: #00000088; 
}










/*media breakpoint*/
@media screen and (max-width:1450px){
  /*.video iframe{
  width:400px;
  height: 225px;
  }*/
}


@media screen and (max-width:1200px) {
  #logo{
    display: flex;
    justify-content: center;
  }

  #logo img{
    width:350px;
    height:auto;
  }

  #forecast h5{
    font-size: 17px;
  }

  #forecast{
    display:flex;
    justify-content: center;
  }

  .hamburger-menu{
    top:50px;
  }

  .display-clock{
    font-size:20px;
  }

  .display-date{
    font-size:17px;
  }
}

@media screen and (max-width:1000px) {
  /*.video iframe{
  width:280px;
  height: 157px;
  }*/

  .hamburger-menu{
    top:25px;
    right:25px;
  }

  #progressSec p, #quote, #fun{
    font-size:20px;
  }

  #author{
    font-size:24px;
  }

  .projects img{
    width:100px;
    height:auto;
  }

  .projects li{
    display:inline-block;
    padding:20px 20px 0px 0px;
  }

  .projects h5{
    font-size:20px;
  }
}

@media screen and (max-width:800px) {

  #forecast h5{
    font-size: 13px;
  }

  .display-clock{
    font-size: 13px;
  }

  .display-date{
    font-size: 13px;
  }

  .projects img{
    width:90px;
    height:auto;
  }

  .projects li{
    display:inline-block;
    padding:10px 10px 0px 0px;
  }

  .projects h5{
    font-size:15px;
  }

  h3{
  font-size:30px;
  }


}

@media screen and (max-width:760px) {
  .blankSpace{
    height:170px;
  }

  #covidSec th, #covidSec td{
    font-size:20px;
  }

  .video iframe{
    width:400px;
    height: 225px;
  }

  .summary, .projects, .qWrapper, .prayer-container{
    overflow-y: visible;
    height:auto;
  }

  .prayer-container{
    margin-top: 10px
  }

  .youtube{
    margin-bottom:30px;
  }
}

@media screen and (max-width:650px) {
  .blankSpace{
    height:210px;
  }
}

@media screen and (max-width:500px) {
  .video iframe{
  width:300px;
  height: 168px;
  }

  #logo img{
    width:300px;
  }
  
  td{
    font-size:16px;
  }
}

@media screen and (max-width:430px){
  .video iframe{
  width:250px;
  height: 140px;
  }

  .hamburger-menu{
    top:90px;
    right:25px;
  }
}